<% @title= truncate(@business.name, :length => 35) %>


<body class="blog-post">
  <div class="wrapper" style="padding-top:50px">
    <div class="page-header header-filter page-header-mini" filter-color="black">

        <div class="page-header-image" data-parallax="false" style="background-image: url('../images/blank-notebook-on-creative-workspace_925x.jpg');">
        </div>
        <div class="content-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title"><%= @business.name %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info", style: "text-align:center") %> <br>
      <% end %>
        <br>
        </div>
  </div>
</body>