
	<div class="projects-2 section section-dark" style="background-color:#151f20">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h6 class="text-muted">Welcome to ClassLyst</h6>
            <h2 class="title" style="color: white">How does the reward system work?</h2>
            <h5 class="description"></h5>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="http://www.creative-tim.com/product/paper-kit" target="_blank">
                  <h4 class="card-title" style="color: white">Sign up for a Business Account</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  Businesses create a Business Account and create a Business PIN which will allow students and professors to redeem their rewards on location with their mobile device. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                  <h4 class="card-title" style="color: white">Create Rewards</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  After an account is created, businesses are able to create rewards for students to purchase with points they have earned through their posts and comments.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="https://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                  <h4 class="card-title" style="color: white">Redeem Rewards</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  Students will bring their phone or printed email to your business where staff verifies the reward by typing the Business PIN into the phone or checking if their email is on the Reward Purchased List.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
