<% @title="Student Sign Up" %>


<body class="signup-page">
  
  <div class="page-header header-filter" filter-color="black">
      <div class="page-header-image" style="background-image:url(../images/writing-sationary.jpg)"></div>
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 ml-auto mr-auto">
                      <div class="info info-horizontal">
                          <div class="icon icon-primary">
                <i class="material-icons">
                                  dashboard
                              </i>
                          </div>
                          <div class="description">
                              <h5 class="info-title">Admin</h5>
                              <p class="description">
                                 If you are interested in gaining admin privileges please send me an email at <a href="mailto:ryan@classlyst.com" style="color: white">ryan@classlyst.com</a>.

                              </p>
                          </div>
                      </div>

                  </div>
<div></div>
              </div>
          </div>
      </div>
            
  
  </div>  
</body>