<% @title="Professor/Admin Sign Up" %>

<body class="signup-page">
  
  <div class="page-header header-filter" filter-color="black" style="padding-top:50px">
      <div class="page-header-image" style="background-image:url(../images/writing-sationary.jpg)"></div>
      <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h6 class="text-muted">Welcome to ClassLyst</h6>
            <h2 class="title" style="color: white">Professors and teachers can gain admin privileges.</h2>
            <h5 class="description"></h5>
          </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="http://www.creative-tim.com/product/paper-kit" target="_blank">
                  <h4 class="card-title" style="color: white">Monitor the conversation</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  Keep up with student inquiries and stufff stuff stuff stuff  blf;lkadsjf;lksjd;flkjsd;flkjd 
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank">
                  <h4 class="card-title" style="color: white">Share helpful resources</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  After an account is created, businesses are able to create rewards for students to purchase with points they have earned through their posts and comments.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain">
              <div class="card-body">
                <a href="https://www.creative-tim.com/product/get-shit-done-pro" target="_blank">
                  <h4 class="card-title" style="color: white">Redeem Rewards</h4>
                </a>
                <h6 class="card-category text-muted"></h6>
                <p class="card-description">
                  Students aren't the only ones who can earn rewards.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">If you would like to register as a Professor/Teacher, please send an email to <u><a href="mailto:ryan@classlyst.com" style="color: white">ryan@classlyst.com</a></u>.

</div>
        </div>
      </div>
      </div>
            
  
  </div>  
</body>