<div class="header-2">
    <div class="page-header header-filter">
      <div class="page-header-image" style="background-image: url('images/business-team-meeting-boardroom_925x.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mr-auto ml-auto text-center">
            <h1 class="title">Thank you for reaching out!</h1>
              <h4>I'll be in touch with you shortly with your login information.</h4>
          </div>
        </div>
      </div>
    </div>
</div>